header {
  width: 100%;
  background-color: black;
  color : white;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: left;
  margin-right: 5%;
}

button {
  cursor: pointer;
}
