<div class="article">

  <!--on parcours un tableau d'articles via l'index,
  pour afficher le nombre renvoyé-->
  <li *ngFor="let article of articles; let i =index">
    <button (click)="showArticleDetail(i)">
      <app-article-detail></app-article-detail>
    </button>
  </li>
</div>
